@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  user-select: none;
}
:root {
  --colorprincipal: #e6af24;
  --colortexto: #555;
  --colorclaro: #fff;
}
body {
  background: #ddd;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  visibility: hidden;
  transition: 0.5s ease;
}
.content-modal {
  position: fixed;
  width: 50%;
  height: 100%;
  right: -50%;
  background: var(--colorclaro);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 300;
  visibility: hidden;
  transition: 0.5s ease;
}
.modal.active,
.content-modal.active {
  visibility: visible;
  right: 0%;
}
.content-modal img {
  width: 50%;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #888;
}
.menu {
  position: fixed;
  top: -90px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 100;
  border-bottom: 1px solid #ddd;
  visibility: hidden;
  transition: 0.5s;
}
.menu.active {
  top: 0;
  visibility: visible;
}
.menu h1 {
  color: var(--colorclaro);
}
.menu i {
  font-size: 20px;
}
.acciones {
  position: absolute;
  right: 25px;
  top: 35%;
  z-index: 100;
  width: 30px;
  height: 30%;
}
.acciones .slider {
  text-align: center;
  width: 35px;
  margin: 10px 0;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  /* background: #fff; */
  cursor: pointer;
  border: none;
  /* border-radius: 50%; */
  color: var(--colortexto);
  /* box-shadow: -2px 2px 5px #000; */
  font-size: 35px;
  font-weight: 700;
  position: absolute;
}
.slider:nth-child(2) {
  bottom: 0;
}
.acciones .slider:hover {
  /* background: goldenrod; */
  color: #fff;
  /* border: 1px solid #ddd; */
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
  transform: scale(0.5);
  visibility: hidden;
  filter: opacity(0);
}
.content.active {
  visibility: visible;
  filter: opacity(1);
  transform: scale(1);
  transition: 1s ease;
}
.content .img {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--colorprincipal), white);
}
.content .card {
  width: 70%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -150px;
  transition: 1s ease;
}
.content.active .card {
  left: 15%;
  transition: 1s ease;
}
.card img {
  margin-left: 15px;
  width: 40%;
  filter: drop-shadow(-5px 7px 6px #000);
}
.card .texto {
  width: 100%;
  color: var(--colortexto);
}
.texto .titulo {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 35px;
}
.texto p {
  font-size: 18px;
  font-weight: 300;
}
/* ------------------------- */
/* ------------------------- */
/* ------------------------- */
.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ddd;
}
.contenido {
  width: 90%;
  position: relative;

  margin: 10px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.contenedor .title {
  position: relative;
  text-align: center;
  width: 100%;
  height: 70px;
  line-height: 70px;
  margin-bottom: 15px;
}
.contenedor .title h1 {
  font-size: 35px;
  color: var(--colortexto);
}
.contenedor .title span {
  color: var(--colorprincipal);
  margin-left: 5px;
  position: relative;
}
.contenedor .title span::before {
  content: "";
  background: var(--colortexto);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.contenido .tarjeta {
  border: 1px solid #ddd;
  height: 285px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: #fff;
  box-shadow: 2px 3px 6px #999;
  overflow: hidden;
}
.contenido .tarjeta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--colorprincipal);
  bottom: -100%;
  transition: 0.5s ease-in-out;
}
.contenido .tarjeta .oferta {
  width: 160px;
  height: 160px;
  background: var(--colorprincipal);
  position: absolute;
  right: -80px;
  top: -80px;
  border-radius: 50%;
  line-height: 230px;
  color: var(--colorclaro);
  padding-left: 30px;
  font-weight: 500;
}
.contenido .tarjeta h3 {
  color: var(--colortexto);
  width: 100%;
  text-transform: uppercase;
  margin-left: 20px;
}
.contenido .tarjeta img {
  width: 90%;
  transition: 0.5s ease-in-out;
  object-fit: contain;
  height: 250px;
}
.descripcion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  transition: 0.5s ease-in-out;
  position: absolute;
  bottom: -70px;
  z-index: 10;
  color: var(--colorclaro);
  /* font-weight: 300; */
}
.descripcion h4,
.descripcion h2 {
  font-weight: 300;
}
.buttons {
  position: absolute;
  right: -110px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  top: 25%;
}
.buttons .btn {
  background: goldenrod;
  color: #fff;
  padding: 10px 15px;
  margin-top: 15px;
}
.tarjeta:hover img {
  transform: scale(0.8) translate(-50px, -30px);
  filter: drop-shadow(-5px 7px 6px #000);
}
.tarjeta:hover .descripcion {
  bottom: 5px;
}
.tarjeta:hover .buttons {
  right: 5px;
}
.tarjeta:hover::after {
  bottom: -85%;
}
@media (max-width: 850px) {
  .content.active .card {
    left: 13%;
  }
  .content .card {
    flex-direction: column;
    width: 70%;
  }
  .texto .titulo {
    font-size: 25px;
  }
  .card img {
    margin-top: 30px;
    width: 60%;
    margin-left: 0;
  } /* .acciones { top:
45%; } */
}
@media (max-width: 850px) {
  .card img {
    margin-top: 10px;
    width: 70%;
    margin-left: 0;
  }
  .acciones .slider {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .menu h1 {
    font-size: 20px;
  }
  .contenido {
    padding: 5px;
  }
  .contenedor .title h1 {
    font-size: 25px;
  }
  .texto p {
    font-size: 15px;
  }
  .descripcion {
    width: 45%;
  }
}
